{{- /* gotype: github.com/code-chimp/snippetbox/cmd/web.templateData */ -}}
{{define "title"}}Create new Snippet{{end}}

{{define "main"}}
  <form action="/snippet/create" method="POST">
    <div>
      <label for="title">Title:</label>
      {{with .Form.FieldErrors.title}}
        <label for="title" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
      {{end}}
      <input type="text" name="title" id="title" value="{{.Form.Title}}">
    </div>
    <div>
      <label for="content">Content</label>
      {{with .Form.FieldErrors.content}}
        <label for="email" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
      {{end}}
      <textarea name="content" id="content" cols="30" rows="10">{{.Form.Content}}</textarea>
    </div>
    <div>
      <label for="expires365">Delete in:</label>
      {{with .Form.FieldErrors.expires}}
        <label for="expires365" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
      {{end}}
      <label>
        <input type="radio"
               name="expires"
               id="expires365"
               value="365"
               {{if (eq .Form.Expires 365)}}checked{{end}}> 1 year
      </label>
      <label>
        <input type="radio"
               name="expires"
               id="expires7"
               value="7"
               {{if (eq .Form.Expires 7)}}checked{{end}}> One week
      </label>
      <label>
        <input type="radio"
               name="expires"
               id="expires1"
               value="1"
               {{if (eq .Form.Expires 1)}}checked{{end}}> One day
      </label>
    </div>
    <div>
      <input type="submit" value="Publish snippet">
    </div>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"/>
  </form>
{{end}}
