{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    <ul>
        {{range .Snippets}}
            <li><a href="/snippet/view/{{.ID}}">{{.Title}}</a></li>
        {{end}}
    </ul>
{{end}}
