{{- /* gotype: github.com/code-chimp/snippetbox/cmd/web.templateData */ -}}
{{define "title"}}New User{{end}}

{{define "main"}}
  {{with .Form}}
    <form action="/user/signup" method="POST">
      <div>
        <label for="name">Name:</label>
        {{with .FieldErrors.name}}
          <label for="name" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
        {{end}}
        <input type="text" name="name" id="name" value="{{.Name}}">
      </div>
      <div>
        <label for="email">Email:</label>
        {{with .FieldErrors.email}}
          <label for="email" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
        {{end}}
        <input type="email" name="email" id="email" value="{{.Email}}"/>
      </div>
      <div>
        <label for="password">Password:</label>
        {{with .FieldErrors.password}}
          <label for="password" role="alert" aria-live="assertive" aria-atomic="true" class="error">{{.}}</label>
        {{end}}
        <input type="password" name="password" id="password" value="{{.Password}}"/>
      </div>
      <div>
        <label for="verify">Verify Password:</label>
        <input type="password" name="verify" id="verify" value="{{.Verify}}"/>
      </div>
      <div>
        <input type="submit" value="Signup">
      </div>
    </form>
  {{end}}
{{end}}
